/* reset default browser values */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
/* Colors */

:root {
    --pry-green: #01B288;
    --sry-white: #ffffff;
    --try-green: #01b2899c;
    --pry-text: #212121;
    --sry-text: #757575;
}

/* font-size */

:root {
    --h1-font: 48px;
    --h2-font: 32px;
    --h3-font: 25px;
    --h4-font: 20px;
    --p-font: 15px;
}

/* ===== Presets ===== */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--sry-white);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    color: var(--pry-text);
}

h1 {
    font-size: var(--h1-font);
}

h2 {
    font-size: var(--h2-font);
}

h3 {
    font-size: var(--h3-font);
}
h3 {
    font-size: var(--h4-font);
}

p {
    color: var(--sry-text);
    font-weight: 400;
    line-height: 1.5;
}
body {
    overflow-x: hidden;
}

/*media query for large screen*/
@media (min-width: 1200px) {
.container {
    width: 1170px;
}
#click {
    display: none;
}
.menu-btn {
    display: none;
}
}

.container {
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
}

/* ====================================================== */

/* header */
.header {
    position: fixed;
    background-color: var(--sry-white);
    z-index: 99;
}
header {
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
}
.logo i {
    color: var(--pry-green);
    font-size: 20px;
}
nav {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    align-items: center;
}
nav ul li {
    list-style-type: none;
    margin-right: 25px;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--pry-text);
}
nav ul li:nth-child(7) {
    margin-right: 0px;
}
.home {
    color: var(--pry-green);
}
nav ul li a:hover {
    color: var(--pry-green);
    transition: 0.2s;
    transform: scale(1.3);
}

/*banner section*/
.banner {
    background-attachment: fixed;
    background-position: top;
    z-index: 0;
}
.banner .container-fluid {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    padding-top: 60px;
}
.banner .banner-content {
    width: 41%;
    padding-top: 100px;
    padding-bottom: 120px;
}
.banner-content p {
    line-height: 1.8;
    padding-top: 20px;
    padding-bottom: 50px;
    font-weight: bold;
    color: var(--sry-white);
}
.banner-content h2 {
    color: var(--sry-white);
}
.banner-content a {
    padding: 15px 60px;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--pry-green);
    color: var(--sry-white);
    border-radius: 30px;
}
.banner-content a:hover {
    background-color: #03785c;
}
/*about section*/
span {
    color: var(--pry-green);
}
.about {
    display: flex;
    justify-content: center;
}
.about-content {
    width: 75%;
    text-align: center;
    padding: 60px 0px;
}
.about-content p {
    padding-top: 20px;
}
.about-grid {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.web-design {
    width: 32%;
    background-color: var(--sry-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
.about-sec-img img{
    width: 100%;
    height: auto;
}
.development {
    width: 32%;
    background-color: var(--sry-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.branding {
    width: 32%;
    background-color: var(--sry-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
.about-sec-img {
    width: 86px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.about-grid p {
    width: 95%;
    padding: 20px 0px;
}
.web-design:hover {
    box-shadow: 1px 1px 4px 5px rgba(175, 175, 175, 0.5);
    transition: 0.2s;
}
.development:hover {
    box-shadow: 1px 1px 4px 5px rgba(175, 175, 175, 0.5);
    transition: 0.2s;
}
.branding:hover {
    box-shadow: 1px 1px 4px 5px rgba(175, 175, 175, 0.5);
    transition: 0.2s;
}

/*our process section*/
.our-process {
    display: flex;
    margin-top: 60px;
    padding-bottom: 60px;
}
.left {
    width: 50%;
    position: relative;
}
.right {
    width: 50%;
}
.left .desk-img {
    width: 90%;
    z-index: 0;
    height: 100%;
}
.desk-img img {
    width: 100%;
    height: 100%;
    z-index: 0;
    padding-top: 25px;
}
.square {
    width: 50%;
    height: 50%;
    background-color: #B3FFF5;
    position: absolute;
    right: 30px;
    z-index: -1;
}
.process-head {
    padding-top: 25px;
    padding-left: 20px;
}
.process-head p {
    padding: 10px 0px 20px 0px;
}
.process-grids {
    padding-left: 20px;
}
.grid-top {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    text-align: center;
}
.grid-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    text-align: center;
}
.grid1, .grid2, .grid3, .grid4 {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #B3FFF5;
    border-radius: 10px;
}

.grid-img {
    width: 86px;
    height: auto;
    margin: 30px 0px 10px 0px;
}
.grid-img img {
    width: 100%;
    height: auto;
}
.grid1 p {
    padding: 10px 0px 25px 0px;
}
.grid2 p {
    padding: 10px 0px 25px 0px;
}
.grid3 p {
    padding: 10px 0px 25px 0px;
}
.grid4 p {
    padding: 10px 0px 25px 0px;
}

/*
.grid1:hover {
    background-color: #B3FFF5;
    transition: 0.2s;
}
.grid2:hover {
    background-color: #B3FFF5;
    transition: 0.2s;
}
.grid3:hover {
    background-color: #B3FFF5;
    transition: 0.2s;
}
.grid4:hover {
    background-color: #B3FFF5;
    transition: 0.2s;
}
*/

/*latest news section*/
.news {
    background-color: #eafdff;
}
.news .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.news-head {
    text-align: center;
    width: 70%;
    padding: 60px 0px 40px 0px;
}
.under-news-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.news1, .news2, .news3 {
    width: 32%;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 2px 1px rgba(175, 175, 175, 0.5);
    background-color: white;
}
.new-img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 20px;;
}
.new-img img{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}
.news1 h3{
    padding-left: 20px;
    padding-bottom: 20px;
}
.news2 h3 {
    padding-left: 20px;
    padding-bottom: 20px;
}
.news3 h3 {
    padding-left: 20px;
    padding-bottom: 20px;
}
.news1 p {
    padding-left: 20px;
    padding-bottom: 20px;
}
.news2 p {
    padding-left: 20px;
    padding-bottom: 20px;
}
.news3 p {
    padding-left: 20px;
    padding-bottom: 20px;
}
.news1 a {
    text-decoration: none;
    padding-left: 20px;
    color: var(--pry-green);
    font-weight: bold;
}
.news2 a {
    text-decoration: none;
    padding-left: 20px;
    color: var(--pry-green);
    font-weight: bold;
}
.news3 a {
    text-decoration: none;
    padding-left: 20px;
    color: var(--pry-green);
    font-weight: bold;
}

/*form section*/
.get-in-touch {
    padding-top: 60px;
    padding-bottom: 30px;
    text-align: center;
    width: 70%
}
.get-in-touch h2{
    padding-bottom: 20px;
}
.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
}
.form-fields {
    width: 90%;
    text-align: center;
    padding-bottom: 20px;
}
.input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-fields input {
    width: 48%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgb(221, 221, 221);
}
textarea {
    margin: 20px 10px 20px 10px;
    width: 98%;
    padding: 10px 50px 50px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(221, 221, 221);
}
.form-fields a{
    padding: 10px 40px 10px 40px;
    background-color: var(--pry-green);
    border-radius: 20px;
    text-decoration: none;
    color: var(--sry-white);
}
.form-fields a:hover {
    background-color: #03785c;
}

/*footer section*/
.footer {
    background-color: #0A1239;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px;
}
.social-media {
    padding: 10px 0px;
    color: var(--sry-white);
}
.social-media i {
    padding: 5px;
    cursor: pointer;
}
.footer h4{
    color: var(--sry-white);
}
.footer p {
    color: var(--sry-white);
}


/*media query for small devices*/
@media screen and (max-width: 767px) {
.logo {
    width: 50%;
    margin-left: 20px;
}

nav {
    height: auto;
    position: absolute;
    width: 0;
    right: 0;
    background-color: var(--pry-green);
    transition: all 0.3s;
    z-index: -5;
    top: 60px;
    text-align: center;
    overflow: hidden;
}
.home{
    color: var(--sry-white);
}
nav ul li a:hover {
    color: var(--sry-white);
}
#click:checked~nav {
    top: 60px;
    width: 100%;
}

#click:checked~.menu-btn i:before {
    content: "\f00d";
}

.header {
    position: relative;
    position: fixed;
}

nav ul {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    z-index: -5;
}

nav ul li {
    padding: 10px;
    border-bottom: 2px solid #0d113754;
    width: 100%;
    height: 100%;
    margin-right: 0px;
    z-index: -5;
}


.menu-btn i {
    display: block !important;
    display: flex !important;
    font-size: 25px;
    cursor: pointer;
}
.menu-btn {
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
#click {
    display: none;
}

/*banner section*/

.banner .banner-content {
    width: 90%;
    padding-top: 50px;
    padding-left: 20px;
}

/*about section*/
.about-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
}

.web-design {
    width: 80%;
}
.development {
    width: 80%;
    margin-top: 20px;
}

.branding {
    width: 80%;
    margin-top: 20px;
}

/*our process ssection*/
.our-process {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 0;
}
.process-head {
    text-align: center;
}
.right {
    width: 90%;
}
.left {
    width: 90%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
.square {
    right: 0;
}

/*latest news section*/
.under-news-head {
    flex-direction: column;
    align-items: center;
}
.news1, .news2, .news3 {
    width: 80%;
    margin-bottom: 30px;
}

/*form section*/
.form textarea {
    width: 70%;
}
.input {
    justify-content: center;
}
.input input {
    width: 70%;
}

}

/*media query for medium devices*/
@media screen and (min-width: 767px) and (max-width: 1199px) {
#click {
    display: none;
}
.menu-btn {
    display: none;
}
.logo {
    margin-left: 20px;
}
nav {
    margin-right: 20px;
}

/*banner section*/
.banner .banner-content {
    margin-left: 20px;
    width: 60%;
}

/*about section*/
.web-design {
    width: 29%;
    margin-left: 20px;
}
.development {
    width: 29%;
}
.branding {
    width: 29%;
    margin-right: 20px;
}
.about-grid {
    padding-bottom: 0;
}

/*our process*/
.our-process {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 0;
}

.process-head {
    text-align: center;
}

.right {
    width: 90%;
}

.left {
    width: 90%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
.desk-img img {
    padding-top: 35px;
}
.square {
    right: 0;
}

/*latest news section*/
.under-news-head {
    padding-left:20px;
    padding-right: 20px;
}

/*form section*/
.form textarea {
    width: 70%;
}

.input {
    justify-content: center;
}

.input input {
    width: 70%;
}
}

